/* General resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Corbel, sans-serif;
  background: hsl(0, 0%, 29%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header bar */
.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #e0e0e0;
  position: relative;
}

.home-icon {
  font-size: 2rem;
  cursor: pointer;
}

/* Main content layout- i.e. the grid of subject buttons and how far apart they are  */
.content {
  display: grid;
  grid-template-columns: repeat(2, 245px);
  grid-template-rows: repeat(2, 245px);
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin: 50px, 50px;
  position: relative;
}

/* All the button styling */
.subject-btn,
.random-btn {
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  justify-content: space-between;
}

.subject-btn {
  background: #dcdcdc;
  padding: 40px;
}

.subject-btn:hover {
  background: #c0c0c0;
}

.random-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #b0b0b0;
  width: 180px; 
  height: 120px; 
  border-radius: 55%; /* how circular the button is */
  font-weight: bold;
  font-size: 1.2rem; /* make text larger */
  display: flex; /* center text inside */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.random-btn:hover {
  background: #909090;
}
