body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #8F1687;
}

header {
  position: absolute;
  top: 30px;
  right: 50px;
  cursor: pointer;
}

header i {
  font-size: 50px;
  color: white;
}

header a {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 20px;
  margin-left: -10px;
  text-decoration: none;
}

header #signup_p {
  margin-left: -10px;
  color: white;
}

header #login p{
  color: white;
}

header #login {
  margin-left: 0px;
}

section {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: rgb(234, 234, 234);
  border: 5px solid rgb(234, 234, 234);
  border-radius: 15px;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.5);
}

section > * {
  background-color: rgb(234, 234, 234);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 60px;
}

label {
  font-size: 35px;
  color: #8F1687;
}

input {
  width: 80%;
  height: 30px;
  border: 2px solid #405d27;
  border-radius: 50px;
  padding: 5px 10px;
}

input:focus {
  border: 2px solid #82b74b;
  outline: none;
  transition: 0.5s;
}

button {
  background-color: #eeeeee;
  color: black;
  border: 5px solid #535353;
  border-radius: 10px;
  width: 45%;
  font-size: 25px;
  padding: 8px;
  margin-left: 75px;
}

button:hover {
  background-color: #82b74b;
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}

h1 {
  color: #8F1687;
  font-size: 75px;
  text-align: center;
  margin-bottom: 100px;
}

#signup_h1 {
  color: #8F1687;
  font-size: 75px;
  text-align: center;
  margin-bottom: 50px;
}

h3 {
  color: #8F1687;
  font-size: 25px;
  text-align: center;
  padding: 10px 0px;
}

.role-selection {
  display: flex;
  margin: 15px 0;
  width: 80%;
}

.role-option {
  flex: 1;
  text-align: center;
  border-radius: 50px;
  padding: 5px 10px;
  border: 2px solid #405d27;
  background: white;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 5px;
}

.role-option input {
  display: none;
}

.role-option label {
  cursor: pointer;
  margin: 0;
  font-size: 18px;
  color: #333;
}

.role-option input:checked + label {
  color: white;
  background-color: #8F1687;
  border-radius: 50px;
  padding: 5px 10px;
  display: inline-block;
}

.popup {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 30px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.4s, top 0.4s;
}

/* Show state */
.popup.show {
  visibility: visible;
  opacity: 1;
  top: 50px;
}

/* Success vs error colors */
.popup.success {
  background-color: #4CAF50; /* green */
}

.popup.error {
  background-color: #f44336; /* red */
}
